<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{hh:mm:ss a}] [%highlight(%level){TRACE=blue, DEBUG=green, INFO=white, WARN=yellow, ERROR=red}] [%highlight(%logger{35}){FATAL=red, ERROR=RED, WARN=yellow}] - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- debug 모드일때만 로그 출력   -->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.mariadb.jdbc.Driver" level="TRACE"/>
    <logger name="io.ktor.server.routing" level="TRACE"/>
</configuration>
